@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --color-rocket: #7159c1;
    --color-blue: #005bea;
}

body {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 32px;
    font-size: 40px;
    line-height: 24px;
    
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    position: relative;
    color: black;
}

.links a.active {
    font-family: 'Oswald', sans-serif;
    color: var(--color-rocket);;
}

.links a:hover {
    text-decoration: underline;
    color: var(--color-rocket);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a::hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* CARD */

.card {
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 45px auto;
    /* Grid dividimos ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Sombra */
    box-shadow: 0px 2px 6px 20px rgb(0, 0, 0, 0.2); 

    animation: up 300ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transition: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(5, 7, 5, 0.1);
    padding: 10px 0;
}

.details .item:last-child {
    border: none;
}


.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: black;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--colo-blue);
    text-align: center;
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-blue);
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-blue);
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 30px;
    background-color: var(--color-blue);
    color: white;
    border-radius: 4px;
    margin-top: 22px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}


