{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/332741/700x600) no-repeat"></section>
    <section class="details">
        <h3>Novo Professor</h3>
        <div class="item">
            <div>Nome</div>
            <div>
                <input
                type="text"
                name="name"
                placeholder="Nome">
            </div>
        </div>

        <div class="item">
            <div>foto-perfil</div>
            <div>
                <input
                type="url"
                name="avatar_url"
                placeholder="http://">
            </div>
        </div>

        <div class="item">
            <div>Tempo de Experiência</div>
            <div>
                <input
                type="text"
                name="experiencia"
                placeholder="Tempo de Estudo">
            </div>
        </div>

        <div class="item">
            <div>Genêro</div>
            <div>
                <span><input type="radio"
                name="gender"
                value="M" checked>Masculino</span>

                <span><input type="radio"
                name="gender"
                value="F" checked>Feminino</span>
            </div>
        </div>

        <div class="item">
            <div>Escolaridade</div>
            <div>
                <select name="select">
                    <option value="valor">Ensino Médio Completo</option>
                    <option value="valor">Ensino Superior Completo</option>
                    <option value="valor">Mestrado</option>
                    <option value="valor">Doutorado</option>
                </select>
            </div>
        </div>

         <div class="item">
            <div>Especialidade</div>
            <div>
                <input type="text"
                name="services"
                input="Aula"
                placeholder="Tecnologia Curso" 
            </div>
        </div>

         <div class="item">
            <div>Tipo de Aula</div>
            <div>
                <span><input type="radio"
                name="modalidade"
                value="M" checked>EAD</span>

                <span><input type="radio"
                name="modalidade"
                value="F" checked>Presencial</span>
            </div>
        </div>

        <button type="submit">Enviar</button>

    </section>

</form>

{% endblock %}