{% extends "layout.njk" %}

{% block content%}

<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/332741/700x600) no-repeat"></section>
    <section class="details">

        <h3>Novo Professor</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                type="url"
                name="avatar_url"
                placeholder="http://">
            </div>
        </div>


        <div class="item">
            <div>Nome Completo</div>
            <div>
                <input 
                type="text"
                name="name"
                placeholder="Nome do Instrutor"
                checked>
            </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input
                 type="date"
                 name="birth">
            </div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>
                <select name="Escolaridade">
                    <option value="EM" selected>Ensino Médio Completo</option>
                    <option value="ES">Ensino Superior Completo</option>
                    <option value="M">Mestrado</option>
                    <option value="D">Doutorado</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span><input type="radio"
                 name="Aula"
                 value="P">Presencial</span>

                 <span><input type="radio"
                 name="Aula"
                 value="A">À Distancia</span>
                
            </div>
        </div>

        <div>Acompanhamento</div>
            <div>
                <input 
                type="tipo_aula"
                name="Acompanhamento"
                placeholder="ex.: Matemática e Física">
            </div>

        <button type="submit">Salvar</button>

    </section>
</form>

{% endblock %}