{% extends "layout.njk" %}

{% block content%}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/332741/700x600) no-repeat"></section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Professor</div>
            <div>David Messias</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>21</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Escolaridade</div>
            <div>
                <span>Pós - Eng. de Software</span>
            </div>
        </div>

         <div class="item">
            <div>Acompanhamento</div>
            <div>Fluência em Javascript</div>
        </div>

         <div class="item">
            <div>Tipo de Aula</div>
            <div>
                <span>À distancia</span>
                <span>Presencial</span>
            </div>
        </div>

        <div class="item">
            <div>Cadastrado</div>
            <div>25/06/1999</div>
        </div>
    </section>

</div>

{% endblock %}